/* Styles the <div> that contains the slider */
div#bac-graphic {
    background-image: url("../images/bac-symptoms.png");
    width: 1000px;
    height: 319px;
    position: relative;
}

/* Styles the slider inside the <div> */
input[type=range] {
    width: 800px;
    left: 25px;
    top: 163px;
    position: absolute;
}
.container{
    width: 1000px;
}
#finalResult{
    text-align: center;
    background: #eee;
    margin: 20px 0;
    padding: 10px 0;
}
#finalResult b{
    background: #fff;
    padding: 0 5px;
}